.passwordChange-page{
    width: 1100px;
    height: 555px;
    margin: 0 auto;
    text-align: center;
}
.passwordChange-page .passwordChange-logo {
   margin-top: 30px;
   margin-bottom: 30px;
}
.passwordChange-page .old-pwd,
.passwordChange-page .new-pwdf,
.passwordChange-page .new-pwds{
    margin-bottom: 40px;
}
.passwordChange-page .old-pwd label,
.passwordChange-page .new-pwdf label
,.passwordChange-page .new-pwds label {
    padding-top:10px;
    margin-right:30px;
    font-size: 28px;
    font-style: bold;
    color: red;

}
.passwordChange-page .old-pwd input[type="password"],
.passwordChange-page .new-pwdf input[type="password"],
.passwordChange-page .new-pwds input[type="password"]{
    height: 35px;
    width:380px;
    border: 2px solid red;
    border-radius: 7px;
}
.passwordChange-page .old-pwd .error,
.passwordChange-page .new-pwdf .error,
.passwordChange-page .new-pwds .error{
    display: block;
    color: rgb(221, 225, 230);
    margin-left:-60px;
    margin-bottom: -18px;
}
.passwordChange-page .password-change{
    margin-top:50px;
    padding-left:20px;
}
.passwordChange-page .password-change input[type="submit"]{
    background-color: red;
    width: 150px;
    height: 50px;
    color:white;
    font-size: 25px;
    border: 2px solid red;
    border-radius: 8px;
    margin-left: 30px;
}
